@import url("https://fonts.googleapis.com/css?family=Ubuntu+Condensed");
body {
  background-color: #063350;
  color: #ecf0f1;
  font-family: 'Ubuntu Condensed', sans-serif; }

header .navbar-default {
  background-color: #063350;
  border: none;
  border: none;
  background-color: inherit;
  font-size: 25px; }
  header .navbar-default:hover, header .navbar-default:focus {
    background-color: inherit; }
  header .navbar-default .navbar-nav li a {
    color: #ecf0f1;
    font-size: 3.2rem;
    text-transform: uppercase;
    margin-right: 5.5rem;
    margin-top: 4.5rem; }
    @media screen and (max-width: 1400px) {
      header .navbar-default .navbar-nav li a {
        margin-right: 0; } }
    header .navbar-default .navbar-nav li a:after {
      content: '';
      display: block;
      margin: auto;
      margin-top: 10px;
      height: 2px;
      width: 0px;
      background: transparent;
      transition: width .5s ease, background-color .5s ease; }
    header .navbar-default .navbar-nav li a:hover:after {
      width: 100%;
      background: #c0392b; }
    header .navbar-default .navbar-nav li a:hover, header .navbar-default .navbar-nav li a:focus {
      color: #ecf0f1; }

header nav {
  height: 20vh;
  margin: 0 auto; }
  header nav div a img {
    height: 200px;
    width: 350px;
    margin: 5px 30px 5px; }
    @media screen and (max-width: 750px) {
      header nav div a img {
        margin: 0; } }

.jumbotron {
  height: 80vh;
  background: url("../img/jumbo2.jpeg") 0/cover no-repeat;
  background-attachment: fixed; }
  @media screen and (max-width: 970px) {
    .jumbotron {
      background-position: 60%;
      height: 60vh; } }
  .jumbotron h1 {
    color: #fff; }
    @media screen and (max-width: 970px) {
      .jumbotron h1 {
        margin-top: 120px; } }

.offer h2 {
  margin: 9rem auto 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 4rem; }

.offer hr {
  background-color: #c0392b;
  width: 400px;
  height: 2px;
  border-top: none;
  margin: 10px auto; }
  @media screen and (max-width: 750px) {
    .offer hr {
      max-width: 80%; } }

.offer h4 {
  letter-spacing: 1px;
  font-size: 2.5rem;
  margin-top: 2rem; }

.offer div {
  margin: 0 auto; }
  .offer div div img {
    margin: 7rem auto; }
    .offer div div img:hover {
      transform: scale(1.3);
      transition: all .5s ease; }
    @media screen and (max-width: 992px) {
      .offer div div img {
        margin: 3rem auto; } }
  .offer div div h3 {
    text-transform: uppercase;
    font-size: 3rem;
    height: 70px; }
  .offer div div p {
    font-size: 2rem;
    color: #c0392b;
    height: 50px; }
    @media screen and (min-width: 992px) and (max-width: 1199px) {
      .offer div div p {
        margin-top: 30px; } }
  .offer div div label span {
    font-size: 2.5rem; }
    .offer div div label span:hover {
      color: #c0392b;
      cursor: pointer; }
  .offer div div ul {
    text-align: left; }
    .offer div div ul li {
      font-size: 2rem; }
  .offer div div #toggle_list_1,
  .offer div div #toggle_list_2,
  .offer div div #toggle_list_3,
  .offer div div #toggle_list_4 {
    display: none; }
    .offer div div #toggle_list_1 span,
    .offer div div #toggle_list_2 span,
    .offer div div #toggle_list_3 span,
    .offer div div #toggle_list_4 span {
      font-size: 2rem; }

.aboutUs {
  margin: 2rem auto 4rem; }
  .aboutUs h2:first-of-type, .aboutUs h2 {
    margin: 9rem auto 4rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 4rem; }
  .aboutUs h2 {
    margin: 70px auto;
    font-size: 2.2rem; }
  .aboutUs div h4 {
    margin: 2rem auto 1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 3rem; }
  .aboutUs div hr {
    background-color: #c0392b;
    width: 250px;
    height: 2px;
    border-top: none;
    margin: 10px auto; }
  .aboutUs div p:first-of-type {
    margin-top: 2.5rem; }
  .aboutUs div p {
    margin: 1.5rem auto 1rem;
    padding: 1rem;
    font-size: 2rem;
    line-height: 25px; }
    .aboutUs div p a {
      text-decoration: none; }

.stats {
  margin: 8rem auto 2rem;
  text-align: center;
  padding: 2rem; }
  .stats div span {
    color: #c0392b;
    font-size: 6rem;
    padding: 1rem;
    font-weight: 900; }
  .stats div p {
    color: #ecf0f1;
    font-size: 3rem; }

#clients h2 {
  margin: 9rem auto 4rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 4rem; }

#clients hr {
  background-color: #c0392b;
  width: 250px;
  height: 2px;
  border-top: none;
  margin: 10px auto; }

#clients div {
  margin-top: 30px; }
  #clients div figure {
    margin: 70px auto 40px; }
    @media screen and (max-width: 992px) {
      #clients div figure {
        margin: 20px auto; } }
    #clients div figure img {
      height: 300px;
      width: auto; }
      #clients div figure img:hover {
        opacity: 0.7;
        transition: 0.2s all ease; }
      @media screen and (max-width: 992px) {
        #clients div figure img {
          margin: 0 auto; } }
    #clients div figure figcaption {
      text-decoration: none;
      color: #ecf0f1;
      padding: 10px;
      margin: 5px;
      font-size: 24px; }

.checktrade__title {
  margin: 9rem auto 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 4rem; }

.checktrade__underline {
  background-color: #c0392b;
  width: 250px;
  height: 2px;
  border-top: none;
  margin: 10px auto; }

.checktrade h4 {
  letter-spacing: 1px;
  font-size: 2.5rem;
  margin-top: 2rem; }

.checktrade__img {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  max-width: 600px; }
  @media screen and (max-width: 762px) {
    .checktrade__img {
      max-width: 100%; } }

.getInTouch {
  margin: 4rem auto;
  padding: 6rem auto; }
  .getInTouch h2 {
    margin: 9rem auto 1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 4rem; }
  .getInTouch hr {
    background-color: #c0392b;
    width: 250px;
    height: 2px;
    border-top: none;
    margin: 10px auto; }
  .getInTouch div {
    font-size: 2.5rem;
    padding: 1rem; }
    .getInTouch div div div:first-of-type {
      text-align: right;
      color: #c0392b; }
    .getInTouch div div div a {
      text-decoration: none;
      color: #ecf0f1; }
      .getInTouch div div div a:hover {
        color: #c0392b; }
  .getInTouch h3 {
    font-size: 4rem; }
  .getInTouch .wrapper button {
    font-size: 4rem;
    color: #ecf0f1;
    background-color: #c0392b;
    border-radius: 50%;
    padding: 1rem;
    margin-right: 2rem;
    margin-top: 3rem;
    width: 70px;
    height: 70px;
    border: none;
    transition: all 0.5s ease; }
    .getInTouch .wrapper button:hover {
      color: #c0392b;
      background-color: #ecf0f1; }
    .getInTouch .wrapper button a {
      text-decoration: none;
      border: none;
      color: inherit; }
      .getInTouch .wrapper button a:hover {
        color: inherit; }

footer {
  background-color: #074460;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  color: #94AFB5; }
  footer span {
    font-size: 12px;
    margin: 5px 20px; }
    footer span a {
      text-decoration: none;
      color: #c0392b; }
      footer span a:hover {
        color: #ecf0f1;
        text-decoration: none; }
  footer p {
    font-size: 12px;
    margin: 5px 20px; }
    footer p a {
      text-decoration: none;
      color: #94AFB5; }
      footer p a:hover {
        color: #c0392b;
        text-decoration: none; }

.affix {
  background-color: #ffffff;
  padding: 20px 0 10px 0;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5); }

@media screen and (max-width: 768px) {
  .offer h2 {
    margin: 5rem auto 1rem;
    font-size: 2.5rem; }
  .offer h4 {
    font-size: 2rem;
    margin-top: 1rem; }
  .offer div div img {
    margin: 2rem auto; }
  .offer div div h3 {
    font-size: 2rem; }
  .offer div div p {
    font-size: 2rem; }
  .offer div div label span {
    font-size: 2.5rem; }
    .offer div div label span:hover {
      color: #c0392b;
      cursor: pointer; }
  .offer div div ul li {
    font-size: 1.5rem; }
  .offer div div ul span {
    font-size: 2rem; }
  .stats div span {
    font-size: 4rem; }
  .stats div p {
    font-size: 3rem; }
  .getInTouch h2 {
    font-size: 3rem; }
  .getInTouch div {
    text-align: center; }
    .getInTouch div div div:first-of-type {
      text-align: center; }
  .getInTouch h3 {
    font-size: 2rem; }
  .getInTouch .wrapper button {
    font-size: 3rem; } }

/*# sourceMappingURL=style.css.map */