@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed')

$bg-color: #063350
$font-color: #ecf0f1
$contrast-color: #c0392b

=underline ($underlineWidth: 200px, $underlineHeigth: 4px)
		background-color: $contrast-color
		width: $underlineWidth
		height: $underlineHeigth
		border-top: none
		margin: 10px auto

body
	background-color: $bg-color
	color: $font-color
	font-family: 'Ubuntu Condensed', sans-serif

header	
	.navbar-collapse
		background-color: $bg-color

	.affix
		max-height: 110px
		@media screen and (max-width:768px)
			position: relative

	.navbar-toggle
		display: none

	.navbar-default
		background-color: $bg-color
		border: none
		margin-bottom: 0
		display: flex
		justify-content: space-between
		background-color: #063350 !important
		transition: position .5s ease

		@media screen and (min-width:768px)
			width: 700px
		@media screen and (min-width:950px)
			width: 770px
		@media screen and (min-width:950px)
			width: 920px
		@media screen and (min-width:1199px)
			width: 1170px

		.navbar-toggle
		border: none
		background-color: inherit
		font-size: 25px
		&:hover,
		&:focus
			background-color: inherit

		.navbar-nav 
			margin: 30px 0
			
			@media screen and (max-width:1440px)
				margin: 13px 0

			.active 
				&:after
					content: ''
					display: block
					height: 2px
					width: 100%
					background-color: $contrast-color
					position: relative
					top: -17px

				> a
					background-color: $bg-color
					color: $font-color

					&:hover,
					&:active,
					&:focus
						background-color: $bg-color
						color: $font-color
						outline: none

			li 
				a 
					color: $font-color
					font-size: 2.2rem
					text-transform: uppercase
					font-weight: 700
					@media screen and (max-width:1400px)
						margin-right: 0
					@media screen and (max-width:1440px)
						font-size: 1.6rem

					&:after
						content: ''
						display: block
						margin: auto
						margin-top: 10px
						height: 2px
						width: 0px
						background: transparent
						transition: width .5s ease, background-color .5s ease

					&:hover:after
						width: 100%
						background: $contrast-color

					&:hover,
					&:focus
						color: $font-color
						outline: none
	nav
		
		margin: 0 auto

		div
			a 
				img
					width: 250px
					margin: 0 auto

					@media screen and (max-width:750px)
						margin: 0
					@media screen and (max-width:1440px)
						width: 170px
.jumbotron
	height: 80vh
	background: url("../img/jumbo2.jpeg") 0/cover no-repeat
	background-attachment: fixed
	@media screen and (max-width:970px)
		background-position: 60%
		height: 60vh

		
	h1
		color: #fff
		@media screen and (max-width:970px)
			margin-top: 120px

.offer
	

	h2
		margin: 9rem auto 1rem
		text-transform: uppercase
		letter-spacing: 1px
		font-size: 4rem

	hr
		+underline(400px, 2px)
		@media screen and (max-width:750px)
			max-width: 80%

	h4	
		letter-spacing: 1px
		font-size: 2.5rem
		margin-top: 2rem

	div
		margin: 0 auto
		div
			img
				margin: 7rem auto
				&:hover
					transform: scale(1.3)
					transition: all .5s ease
				@media screen and (max-width:992px)
					margin: 3rem auto
			h3
				text-transform: uppercase
				font-size: 3rem
				height: 70px

			p 
				font-size: 2rem
				color: $contrast-color
				height: 50px

				@media screen and (min-width:992px) and (max-width:1199px)
					margin-top: 30px


			label 

				span 
					font-size: 2.5rem

					&:hover
						color: $contrast-color
						cursor: pointer
			ul

				text-align: left

				li 

					font-size: 2rem

			#toggle_list_1,
			#toggle_list_2,
			#toggle_list_3,
			#toggle_list_4
				display: none

				span
					font-size: 2rem


	
.aboutUs
	margin: 2rem auto 4rem

	h2:first-of-type
		margin: 9rem auto 4rem
		text-transform: uppercase
		letter-spacing: 1px
		font-size: 4rem

	h2
		@extend h2:first-of-type
		margin: 70px auto
		font-size: 2.2rem

	

	div
		h4

			margin: 2rem auto 1rem
			text-transform: uppercase
			letter-spacing: 1px
			font-size: 3rem

		hr 
			+underline(250px, 2px)

		p:first-of-type
			margin-top: 2.5rem
		p 
			margin: 1.5rem auto 1rem
			padding: 1rem
			font-size: 2rem
			line-height: 25px

			a 
			 text-decoration: none


.stats
	margin: 8rem auto 2rem
	text-align: center
	padding: 2rem

	div
		span
			color: $contrast-color
			font-size: 6rem
			padding: 1rem
			font-weight: 900

		p
			color: $font-color
			font-size: 3rem



#clients
	h2
		margin: 9rem auto 4rem
		text-transform: uppercase
		letter-spacing: 1px
		font-size: 4rem

	hr
		+underline(250px,2px)

	div
		margin-top: 30px
		figure 
			margin: 70px auto 40px
			@media screen and (max-width: 992px)
				margin: 20px auto

			img
				height: 300px
				width: auto
				&:hover
					opacity: 0.7
					transition: 0.2s all ease

				@media screen and (max-width: 992px)
					margin: 0 auto

			figcaption
				
				text-decoration: none
				color: $font-color
				padding: 10px
				margin: 5px
				font-size: 24px
				


.checktrade
	&__title
		margin: 9rem auto 1rem
		text-transform: uppercase
		letter-spacing: 1px
		font-size: 4rem

	&__underline
		+underline(250px, 2px)


	h4
		letter-spacing: 1px
		font-size: 2.5rem
		margin-top: 2rem

	&__img
		margin-left: auto
		margin-right: auto
		margin-top: 50px
		max-width: 600px
		max-height: 215px

		@media screen and (max-width:762px)
			max-width: 100%
			

.getInTouch
	margin: 4rem auto
	padding: 6rem auto

	h2
		margin: 9rem auto 1rem
		text-transform: uppercase
		letter-spacing: 1px
		font-size: 4rem

	hr
		+underline(250px, 2px)

	div
		font-size: 2.5rem
		padding: 1rem


		div

			div:first-of-type
				text-align: right
				color: $contrast-color
		

			div
				a
					text-decoration: none
					color: $font-color

					&:hover
						color: $contrast-color


		h3

	h3
		font-size: 4rem

	.wrapper
		button
			font-size: 4rem
			color: $font-color
			background-color: $contrast-color
			border-radius: 50%
			padding: 1rem
			margin-right: 2rem
			margin-top: 3rem
			width: 70px
			height: 70px
			border: none
			transition: all 0.5s ease

			&:hover
				color: $contrast-color
				background-color: $font-color

			a 
				text-decoration: none
				border: none
				color: inherit

				&:hover
					color: inherit


footer
	background-color: #074460
	padding: 10px
	display: flex
	justify-content: space-around
	color: #94AFB5

	span		
		font-size: 12px
		margin: 5px 20px
		a 
			text-decoration: none
			color: $contrast-color
			&:hover
				color: $font-color
				text-decoration: none
	p 	
		font-size: 12px
		margin: 5px 20px
		a 
			text-decoration: none
			color: #94AFB5
			&:hover
				color: $contrast-color
				text-decoration: none


.surrey__img
	margin-top: 50px
	max-width: 165px
	max-height: 215px

	@media screen and (max-width:992px)
		margin: 50px auto 20px


@media screen and (max-width: 768px)

	.offer
		
		h2
			margin: 5rem auto 1rem
			font-size: 2.5rem

		h4	
			font-size: 2rem
			margin-top: 1rem

		div
			div
				img
					margin: 2rem auto

				h3
					font-size: 2rem

				p 
					font-size: 2rem
		


				label 

					span 
						font-size: 2.5rem

						&:hover
							color: $contrast-color
							cursor: pointer
				ul

					li 

						font-size: 1.5rem

					span
						font-size: 2rem

	.stats

		div
			span
				font-size: 4rem
			p
				font-size: 3rem

	.getInTouch

		h2
			font-size: 3rem

		div
			text-align: center

			div

				div:first-of-type
					text-align: center


		h3
			font-size: 2rem

		.wrapper
			button
				font-size: 3rem